@model LicenseProject.ViewModels.CityVM

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/js/site.js" />
     <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
<container>
  <crd>
    @using (Html.BeginForm("SearchByCity", "Restaurants"))
    {
        @Html.TextBoxFor(m => m.CityName)
        <button type="submit" class="btn btn-primary btn-block mb-4">Search</button>
    }
    </crd>
</container>
</body>
</html>