@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width height=device-height">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/Welcome.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="text-center">
        
     @*   <div id="wrap">
            <form action="" autocomplete="on">
                <input id="search" name="search" type="text" placeholder="Find the city"><input id="search_submit" value="Rechercher" type="submit">
            </form>
        </div>*@
        @*<div id="wrapper">
            <div class="crd crd--effect-3">

                <div class="crd-img"style='background-image: url("https://i.pinimg.com/564x/08/d5/9c/08d59c46ff8e8032dad90f41165fab8a.jpg")'></div>

                <div class="crd-info">

                    <p class="crd-text"asp-controller="Restaurants" asp-action="List" >Restaurants</p>
                </div>

            </div>
            <div class="crd crd--effect-3">

                <div class="crd-img" style='background-image: url("https://i.pinimg.com/564x/08/d5/9c/08d59c46ff8e8032dad90f41165fab8a.jpg")'></div>

                <div class="crd-info">

                    <p class="crd-text" asp-controller="TuristicObjects" asp-action="List">Places to Visit</p>
                </div>

            </div>
        </div>
    </div>*@

</body>
</html>